<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="FilePath" value="C:\mcniWC" />
    <add key="FileName" value="C:\mcniWC\mcni_config.xml" />
    <add key="ErrorLogPath" value="C:\mcniWC\errors\" />
    <add key="AppID" value="E0DwgUjZOzr5aSMSa1axUkkY7w76QyihO5c2YgPWoXhpYShkB8pwyw==wxgCfp/FcwRX4pkdnL/aQ2djwiS6jnMJ1CjYFzv0Sif6dFYRaOWVMAgJkEfR+2gCv1fnwHfcFq0fc/JMj/saokPWmhKpGTabySat4fAqWYnZr+iUIVDXcG+He/jou0Zt3hNvcEM+EpqnbDqDxIUyqOW+MQ6FxyqNIG0ovBOMtyscU/6z/kRHOJssjq1wtK4boq76Bf7pXZGEJ8nIAARPcJ0HM6+FPxNriin2NO4QRvuWu+i2rDSh3TONhfDWj6Ws" />
    <add key="Sage50" value="/MCNI_SAGE50_XML/MCNISAGE50XMLReq" />
    <add key="Sage100" value="/MCNI_SAGE100_XML/MCNISAGE100XMLReq" />
    <add key="MSGP" value="/MCNI_MSGP_XML/MCNIMSGPXMLReq" />
    <add key="GENERIC" value="/MCNI_Generic_XML/MCNIGenericXMLReq" />
    <add key ="GenericFilePath" value="C:\mcniWC\Export"/>
    <add key="SageCommand" value="SELECT * FROM" />
    <add key="Sage50Quantity" value="SELECT I.ItemID, I.ItemDescription, C.RecordType, C.TransDate, C.PostOrderNumber, C.Quantity, C.TransAmount FROM LineItem I JOIN InventoryCosts C ON I.ItemRecordNumber = C.ItemRecNumber INNER JOIN(SELECT ItemRecNumber, RecordType, MAX(TransDate) AS lastDate, MAX(PostOrderNumber) AS LastEntry FROM InventoryCosts WHERE TransDate&lt; '2021-06-01' AND RecordType = 50 GROUP BY ItemRecNumber , RecordType) S ON C.ItemRecNumber = S.ItemRecNumber AND C.RecordType = S.RecordType AND C.TransDate = S.lastDate--AND C.PostOrderNumber = S.LastEntry WHERE(C.Quantity &lt;&gt; 0 OR C.TransAmount &lt;&gt; 0) ORDER BY I.ITemID" />
    <add key="ActivityLogLength" value="5000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>